
    .fixed-summary {
      position: sticky;
      top: 90px;
      width: 100%;
      padding: 20px;
      background-color: #f8f9fa;
      border: 1px solid #dee2e6;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    @media (max-width: 992px) {
      .fixed-summary {
        position: static;
        margin-top: 20px;
      }
    } 



  